<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vuelo-heading" data-cy="VueloCreateUpdateHeading">Create or edit a Vuelo</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pasaporteCovid">Pasaporte Covid</label>
          <input
            type="checkbox"
            class="form-check"
            name="pasaporteCovid"
            id="field_pasaporteCovid"
            data-cy="pasaporteCovid"
            formControlName="pasaporteCovid"
          />
          <div
            *ngIf="
              editForm.get('pasaporteCovid')!.invalid && (editForm.get('pasaporteCovid')!.dirty || editForm.get('pasaporteCovid')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pasaporteCovid')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numeroDeVuelo">Numero De Vuelo</label>
          <input
            type="text"
            class="form-control"
            name="numeroDeVuelo"
            id="field_numeroDeVuelo"
            data-cy="numeroDeVuelo"
            formControlName="numeroDeVuelo"
          />
          <div
            *ngIf="
              editForm.get('numeroDeVuelo')!.invalid && (editForm.get('numeroDeVuelo')!.dirty || editForm.get('numeroDeVuelo')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('numeroDeVuelo')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('numeroDeVuelo')?.errors?.minlength">
              This field is required to be at least 10 characters.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('numeroDeVuelo')?.errors?.maxlength">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_origen">Origen</label>
          <select class="form-control" id="field_origen" data-cy="origen" name="origen" formControlName="origen">
            <option *ngIf="!editForm.get('origen')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="aeropuertoOption.id === editForm.get('origen')!.value?.id ? editForm.get('origen')!.value : aeropuertoOption"
              *ngFor="let aeropuertoOption of aeropuertosSharedCollection; trackBy: trackAeropuertoById"
            >
              {{ aeropuertoOption.nombre }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['origen'])!.invalid && (editForm.get(['origen'])!.dirty || editForm.get(['origen'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['origen'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_destino">Destino</label>
          <select class="form-control" id="field_destino" data-cy="destino" name="destino" formControlName="destino">
            <option *ngIf="!editForm.get('destino')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="aeropuertoOption.id === editForm.get('destino')!.value?.id ? editForm.get('destino')!.value : aeropuertoOption"
              *ngFor="let aeropuertoOption of aeropuertosSharedCollection; trackBy: trackAeropuertoById"
            >
              {{ aeropuertoOption.nombre }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['destino'])!.invalid && (editForm.get(['destino'])!.dirty || editForm.get(['destino'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['destino'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_avion">Avion</label>
          <select class="form-control" id="field_avion" data-cy="avion" name="avion" formControlName="avion">
            <option *ngIf="!editForm.get('avion')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="avionOption.id === editForm.get('avion')!.value?.id ? editForm.get('avion')!.value : avionOption"
              *ngFor="let avionOption of avionsSharedCollection; trackBy: trackAvionById"
            >
              {{ avionOption.tipo }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['avion'])!.invalid && (editForm.get(['avion'])!.dirty || editForm.get(['avion'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['avion'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_piloto">Piloto</label>
          <select class="form-control" id="field_piloto" data-cy="piloto" name="piloto" formControlName="piloto">
            <option *ngIf="!editForm.get('piloto')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="pilotoOption.id === editForm.get('piloto')!.value?.id ? editForm.get('piloto')!.value : pilotoOption"
              *ngFor="let pilotoOption of pilotosSharedCollection; trackBy: trackPilotoById"
            >
              {{ pilotoOption.dni }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['piloto'])!.invalid && (editForm.get(['piloto'])!.dirty || editForm.get(['piloto'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['piloto'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label for="field_tripulacions">Tripulacion</label>
          <select
            class="form-control"
            id="field_tripulacions"
            data-cy="tripulacion"
            multiple
            name="tripulacions"
            formControlName="tripulacions"
          >
            <option
              [ngValue]="getSelectedTripulante(tripulanteOption, editForm.get('tripulacions')!.value)"
              *ngFor="let tripulanteOption of tripulantesSharedCollection; trackBy: trackTripulanteById"
            >
              {{ tripulanteOption.dni }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['tripulacions'])!.invalid && (editForm.get(['tripulacions'])!.dirty || editForm.get(['tripulacions'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['tripulacions'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
